/**
 *
 * Resolvers for {{ properCase name }}
 *
 */

import { PubSub } from 'graphql-subscriptions';
import { {{ properCase name }}Service } from './{{ name }}.service';

const pubsub = new PubSub();
const service = new {{ properCase name }}Service();

export default {
  Query: {
    {{name}}s: (parent, input, context, info) => service.findMany(parent, input, context, info),
    {{name}}: (parent, { id }, context, info) => service.findOne(parent, id, context, info)
  },
  Mutation: {
    add{{properCase name}}: (parent, input, context, info) => service.create(parent, input, context, info),
    edit{{properCase name}}: (parent, input, context, info) => service.edit(parent, input, context, info)
  },
  Subscription: {
    {{name}}: () => pubsub.asyncIterator('{{constantCase name}}_CREATED')
  }
};

