# This "{{ properCase name }}" type can be used in other type declarations.
type {{ properCase name }} {
    title: String
    author: String
}

# The "Query" type is the root of all GraphQL queries.
# (A "Mutation" type will be covered later on.)
type Query {
    {{ name }}s: [{{ properCase name }}]
    {{ name }}(id: Int): {{ properCase name }}
}

type Mutation {
    add{{ properCase name }}(input: Add{{ properCase name }}Input!): {{ properCase name }}
    edit{{ properCase name }}(id: Int, title: String, author: String): {{ properCase name }}
}

input Add{{ properCase name }}Input {
    title: String!
    author: String!
}
type Subscription {
    {{ name }}s: [{{ properCase name }}]
}