const {{name}} = [
    {
      title: 'Harry Potter and the Chamber of Secrets',
      author: 'J.K. Rowling',
    },
    {
      title: 'Jurassic Park',
      author: 'Michael Crichton',
    },
];

export class {{properCase name}}Service {
    constructor() {
        let db;
    }

    create(parent, input, context, info) {
        const { title, author } = input;
        return {{name}}.push({ title, author })
    }

    edit(parent, input, context, info) {
        const { id, title, author } = input;
        {{name}}[id].title = title
        {{name}}[id].author = author
        return {{name}}[id]
    }

    delete(parent, id , context, info) {

    }

    findOne(parent, id, context, info) {
        return {{name}}[id];
    }

    findMany(parent, input, context, info) {
        return {{name}};
    }
}